{% extends 'base.html.twig' %}

{% block title %}
	Mon Compte
{% endblock %}

{% block body %}
	<div id="alerts" data-alert="{{ app.session.flashBag.all()|json_encode }}"></div>
	<!-- Close Button -->
	<a class="fixed bottom-3 left-3 text-white font-medium bg-red-500 hover:bg-red-700 transition-all duration-300 ease-out rounded-lg px-2 py-1 flex items-center gap-1" href="{{ path('default_index') }}">
		<span class="material-symbols-outlined">arrow_circle_left</span>Retour à la page d'accueil</a>
	<div class="mx-auto h-full 2xl:h-screen bg-gray-300 dark:bg-dark-bg pt-5">
		<div class="w-90% h-44 mx-auto bg-gradient-to-r from-gradient-1 to-gradient-2 rounded-[24px] flex items-center justify-center px-5">
			<div class="relative px-6 sm:w-[700px] h-52 flex justify-start items-center bg-white rounded-3xl shadow-xl transform translate-y-10 max-sm:gap-2 sm:gap-10 dark:bg-dark-section">
				<img class="w-32 rounded-3xl transform shadow-md" src="{{ asset('images/society/'~ society.logo ?? 'placeholder.webp') }}"  alt="logo"/>
				<div class="flex flex-col justify-start items-start self-start mt-10">
					<h2 class="text-xl sm:text-4xl font-semibold dark:text-white">
						{{ user.name }}
						{{ user.lastName }}
					</h2>
					<p class="text-lg sm:text-xl text-gray-500 dark:text-white">{{ society.address }}</p>
				</div>
			</div>
		</div>
		<div class="flex justify-center 3xl:justify-between items-start flex-wrap w-90% mx-auto">
			<div class="mt-20 mr-2 mb-10 px-10 pt-10 w-80 sm:w-[500px] flex flex-col justify-start items-center bg-white rounded-3xl shadow-2xl dark:bg-dark-section">
				<h2 class="font-semibold text-3xl mb-2 dark:text-white">Information de l'Utilisateur</h2>
				<div  class="w-full flex flex-col justify-start items-center">
					<div class="flex flex-wrap gap-y-5 gap-x-10">
					{{ form_start(userForm) }}
						{{ form_row(userForm.name) }}
						{{ form_row(userForm.lastName) }}
						{# {{ form_row(userForm.email) }} #}
						<input class="text-white font-medium bg-nav-btn hover:bg-blue-800 transition-all duration-300 ease-out rounded-lg px-5 py-2 mt-7 mb-3" type="submit" value="Sauvegarder"/>
					{{ form_end(userForm) }}
					</div>
				</div>
			</div>
		{% if is_granted('ROLE_HEAD') %}
			
		
			<div class="mt-20 mb-10 pl-10 pt-10 w-80 sm:w-[900px] flex flex-col justify-start items-center bg-white rounded-3xl shadow-2xl dark:bg-dark-section">
				<h2 class="font-semibold text-3xl mb-2 dark:text-white">Information de la Société</h2>
				<div class="w-full flex flex-col justify-start items-center">
					{{ form_start(societyForm,{'attr':{'class':'flex flex-wrap gap-y-5 gap-x-10'}}) }}
					
						{{ form_row(societyForm.name) }}
						{{ form_row(societyForm.address) }}
						{{ form_row(societyForm.phone) }}
						{{ form_row(societyForm.email) }}
						{{ form_row(societyForm.siret) }}
						{{ form_row(societyForm.logo) }}

					
					<button class="text-white font-medium bg-nav-btn hover:bg-blue-800 transition-all duration-300 ease-out rounded-lg px-5 py-2 mt-7 mb-3" type="submit">Sauvegarder</button>
					{{ form_end(societyForm) }}
				</div>
			</div>
		{% endif %}
		</div>
	</div>
	{% include 'components/dark_mode.html.twig' %}
{% endblock %}

{% block javascripts %}
	<script src="{{ asset('js/addFlash.js') }}"></script>
	<script src="{{ asset('js/darkMode.js') }}"></script>
	<script src="{{ asset('js/profilePage.js') }}"></script>
{% endblock %}
