{# {% extends 'admin/base.back.html.twig' %} #}

{% block body %}
		<h1 class="mb-4 text-center text-3xl font-bold max-sm:text-xl max-sm:font-semibold">
			Création d'un Utilisateur
		</h1>

		<div class='flex-col items-start w-full'>
		{{ form_start(form, {'action': path('admin_user_new')}) }}

			<label for="{{ form.name.vars.id }}" class="mb-1 block">Prénom :</label>
			{{ form_widget(form.name, {'attr': {'class': 'mb-3 w-full rounded-sm p-2'}}) }}
			{{ form_errors(form.name) }}

			<label for="{{ form.lastName.vars.id }}" class="mb-1 block">Nom :</label>
			{{ form_widget(form.lastName, {'attr': {'class': 'mb-3 w-full rounded-sm p-2'}}) }}
			{{ form_errors(form.lastName) }}

			<label for="{{ form.email.vars.id }}" class="mb-1 block">Email :</label>
			{{ form_widget(form.email, {'attr': {'class': 'mb-3 w-full rounded-sm p-2'}}) }}
			{{ form_errors(form.email) }}

			<label for="{{ form.roles.vars.id }}" class="mb-1 block">Roles :</label>
			{{ form_widget(form.roles, {'attr': {'class': 'mb-6 w-full rounded-sm p-2'}}) }}
			{{ form_errors(form.roles) }}

			<div class="flex justify-center">
				<button type="submit" class="cursor-pointer rounded-xl bg-indigo-600 px-6 py-2 text-white transition-all hover:bg-indigo-500">
					Créer
				</button>
			</div>

		{{ form_end(form) }}
		</div>
{% endblock %}
