{% extends 'base.login.html.twig' %}
{% block title %}Connexion
{% endblock %}
{% block body %}
	<div class="flex h-screen w-screen flex-col">
		<header class="flex h-10 w-full items-center bg-gradient-to-b from-slate-400 max-sm:h-auto max-sm:justify-center">
			<a href="{{ path('default_index') }}">
				<img src="{{ asset('images/navbar/Main Logo.svg') }}" alt="LogoAstroShe	">
			</a>
		</header>

		<main class="flex flex-1 px-4">
			<section class="flex w-5/12 flex-col items-center justify-evenly bg-white py-4 max-sm:w-full">
				<div class="sm:hidden">
					<h2 class="text-center text-4xl text-slate-800 max-md:text-4xl">
						Une seule plateforme pour vos devis et factures
					</h2>
				</div>
				<div class="max-sm:hidden">
					<h2 class="text-center text-4xl text-slate-800">
						Gérez vos finances !
					</h2>
				</div>
				<form action="" method="post" class="flex w-5/6 flex-col items-center justify-center md:w-7/12">
					{% if error %}
						<div class="text-red-400 p-1 ">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
					{% endif %}
					<div class="w-full">
						<label class="mb-2 block text-lg font-medium max-sm:text-xl" for="inputEmail">
							Email
						</label>
						<input class="h-12 w-full rounded-md border-2 p-2 border-white text-lg drop-shadow-lg focus:border-blue-500 focus:outline-none invalid:[&:not(:placeholder-shown):not(:focus)]:border-red-500" type="email" name="email" id="inputEmail" value="{{ last_username }}" placeholder="Votre email" autofocus required/>
					</div>
					<div class="mt-6 w-full">
						<label class="mb-2 block text-lg font-medium max-sm:text-xl" for="inputPassword">
							Mot de passe
						</label>
						<input class="h-12 w-full rounded-md border-2 p-2 border-white text-lg drop-shadow-lg focus:border-blue-500 focus:outline-none invalid:[&:not(:placeholder-shown):not(:focus)]:border-red-500" type="password" name="password" id="inputPassword" placeholder="Votre mot de passe" autocomplete="current-password" required/>
						<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
					</div>
					<div class="mt-12 flex w-full flex-col items-center justify-around">
						<button type="submit" class="focus:shadow-outline h-12 w-full cursor-pointer rounded-md bg-blue-600 px-4 py-2 text-center text-lg font-bold text-white drop-shadow-xl hover:bg-blue-700 focus:outline-none xl:w-4/6">
							Se connecter
						</button>
						<a href="{{ path('app_forgot_password_request')}}" type="button" class="mt-3 inline-block align-baseline font-bold text-blue-600 hover:text-blue-800">
							Mot de passe oublié ?
						</a>
					</div>
				</form>
				<div class="flex w-full items-center justify-evenly">
					<h4 class="mt-3 inline-block align-baseline font-bold text-slate-400">
						Vous n'avez pas de compte ?
					</h4>
					<a href="{{ path('app_register') }}" type="button" class="focus:shadow-outline h-12 cursor-pointer rounded-md bg-slate-500 px-4 py-3 text-center font-bold text-white hover:bg-slate-600 focus:outline-none">
						S'inscrire
					</a>
				</div>
			</section>

			<section class="flex w-7/12 items-center justify-center rounded-2xl bg-gradient-to-r from-slate-900 to-blue-900 py-2 max-sm:hidden">
				<div class="w-3/6">
					<h2 class="text-3xl font-medium text-white">
						Une seule plateforme pour vos devis et factures.
					</h2>
					<h3 class="mt-4 text-xl text-white">
						Gérez toutes vos tâches, devis, factures et obtenez un aperçu en temps réel des performances. Tout ça dans une seule et m	ême application.
					</h3>
					<a href="{{ path('app_register') }}" type="button" class="focus:shadow-outline mt-4 cursor-pointer rounded-md bg-blue-600 px-4 py-2 text-center text-lg font-bold text-white hover:bg-blue-700 focus:outline-none">
						Commencez maintenant
					</a>
				</div>
			</section>
		</main>

		<footer class="h-8 bg-gradient-to-t from-slate-400"></footer>
	</div>
{% endblock %}
