{% extends 'base.login.html.twig' %}
{% block title %}Inscription
{% endblock %}
{% block body %}
	<a class="" href="{{ path('default_index') }}">
		<i class="fa-sharp fa-solid fa-house fa-xl pt-10 pl-20"></i>
	</a>
	<div class="md:my-10 md:mx-20 flex justify-center  md:shadow-2xl">
		<div class="bg-[#FDB833] text-center flex flex-row justify-center max-md:hidden md:w-1/2 rounded-r-lg">
			<div class="my-auto">
				<h1 class="font-bold text-5xl font-sans mt-16">Re-bonjour !
				</h1>
				<p class="py-4 text-xl font-normal">Vous avez deja un compte venez vous
					<br>
					connecter ici</p>
				<button class="bg-[#3347FD] rounded-3xl my-8 py-2 px-12 text-white text-xl font-sans font-light">
					<a href="{{ path('app_login') }}">Se connecter</a>
				</button>
			</div>
		</div>

		<div class="bg-white-300 text-center flex justify-center sm:w-full md:w-1/2 rounded-l-lg my-16 md:my-20">


			{{ form_start(registrationForm,{'attr':{'id':'registration_form','class':'my-auto flex flex-col flex-wrap'}}) }}

			<h1 class="font-bold text-5xl font-sans max-sm:mt-8 md:mt-8" id="count-steps">Etape 1/2</h1>
			<div class="flex flex-col" id="first-step">

				{{ form_label(registrationForm.name,'Prénom',{'label_attr':{'class':'font-bold text-start pt-8'}}) }}
				{{ form_widget(registrationForm.name,{'attr':{'class':'w-80  border border-black border-solid rounded-md'}}) }}
				<div id="userName" class="text-red-500">{{ form_errors(registrationForm.name,{'attr' :{'id':'','class' :'text-red'}}) }}</div>


				{{ form_label(registrationForm.lastName,'Nom de famille',{'label_attr':{'class':'font-bold text-start pt-8'}}) }}
				{{ form_widget(registrationForm.lastName,{'attr':{'class':'w-80  border border-black border-solid rounded-md'}}) }}
				<div id="userLastName" class="text-red-500 border-red-500">{{ form_errors(registrationForm.lastName,{'attr' :{'id':'','class' :'text-red'}}) }}</div>

				{{ form_label(registrationForm.email,'E-mail',{'label_attr':{'class':'font-bold text-start pt-8'}}) }}
				{{ form_widget(registrationForm.email,{'attr':{'class':'w-80  border border-black border-solid rounded-md'}}) }}
				<div id="userEmail" class="text-red-500">{{ form_errors(registrationForm.email,{'attr' :{'id':'','class' :'text-red'}}) }}</div>


				{{ form_label(registrationForm.plainPassword,'Mot de passe',{'label_attr':{'class':'font-bold text-start pt-8'}}) }}
				{{ form_widget(registrationForm.plainPassword,{'attr':{'class':'w-80  border border-black border-solid rounded-md'}}) }}
				<div id="userPassword" class="text-red-500">{{ form_errors(registrationForm.plainPassword,{'attr' :{'id':'','class' :'text-red'}}) }}</div>


				<button type="button" id="btn-steps" class="bg-[#3347FD] rounded-3xl my-8 mx-auto py-2 px-4 text-white text-xl font-sans font-light">Suivant</button>
			</div>

			<div class="hidden" id="second-step">

				{{ form_label(registrationForm.societyForm.name,'Nom de la société',{'label_attr':{'class':'font-bold text-start pt-8'}}) }}
				{{ form_widget(registrationForm.societyForm.name,{'attr':{'class':'w-80  border border-black border-solid rounded-md'}}) }}
				<div class="text-red-500">{{ form_errors(registrationForm.societyForm.name,{'attr' :{'class' :'text-red'}}) }}</div>

				{{ form_label(registrationForm.societyForm.address,'Adresse de la société',{'label_attr':{'class':'font-bold text-start pt-8'}}) }}
				{{ form_widget(registrationForm.societyForm.address,{'attr':{'class':'w-80  border border-black border-solid rounded-md'}}) }}
				<div class="text-red-500">{{ form_errors(registrationForm.societyForm.address,{'attr' :{'class' :'text-red'}}) }}</div>


				{{ form_label(registrationForm.societyForm.phone,'Numéro de téléphone de la société',{'label_attr':{'class':'font-bold text-start pt-8'}}) }}
				{{ form_widget(registrationForm.societyForm.phone,{'attr':{'class':'w-80  border border-black border-solid rounded-md'}}) }}
				<div class="text-red-500">{{ form_errors(registrationForm.societyForm.phone,{'attr' :{'class' :'text-red-600'}}) }}</div>


				{{ form_label(registrationForm.societyForm.email,'E-mail de la société',{'label_attr':{'class':'font-bold text-start pt-8'}}) }}
				{{ form_widget(registrationForm.societyForm.email,{'attr':{'class':'w-80  border border-black border-solid rounded-md'}}) }}
				<div class="text-red-500">{{ form_errors(registrationForm.societyForm.email,{'attr' :{'class' :'text-red-600'}}) }}</div>

				{{ form_label(registrationForm.societyForm.siret,'Siret de la société',{'label_attr':{'class':'font-bold text-start pt-8'}}) }}
				{{ form_widget(registrationForm.societyForm.siret,{'attr':{'class':'w-80  border border-black border-solid rounded-md'}}) }}
				<div class="text-red-500">{{ form_errors(registrationForm.societyForm.siret,{'attr' :{'class' :'text-red'}}) }}</div>

				<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
				<div class="flex mt-2">
					{{ form_label(registrationForm.agreeTerms,"Accepter les conditions d'utilisation",{'label_attr' : {'class':'mb-0 mr-2 text-xs text-start'}}) }}
					{{ form_widget(registrationForm.agreeTerms,{'attr':{'class':''}}) }}
				</div>
				<button type="submit" id="" class="bg-[#3347FD] rounded-3xl my-8 mx-auto py-2 px-4 text-white text-xl font-sans font-light">S'inscrire</button>

			</div>
			<a href="{{ path('app_login') }}" class="bg-[#3347FD] rounded-3xl mx-auto py-2 px-4 text-white text-xl font-sans font-light  md:hidden">Se connecter</a>
			{{ form_end(registrationForm) }}
		</div>


	</div>
{% endblock %}
{% block javascripts %}
	{{ parent() }}
	<script src="{{ asset('js/register.js') }}"></script>


{% endblock %}
