{% extends 'base.login.html.twig' %}
{% block title %}Inscription
{% endblock %}
{% block body %}
	<div class="flex h-screen w-screen flex-col">
		<header class="flex h-10 w-full items-center bg-gradient-to-b from-slate-400 max-sm:h-14 max-sm:justify-center">
			<a href="{{ path('default_index') }}">
				<img src="{{ asset('images/navbar/Main Logo.svg') }}" alt="LogoAstroShe	">
			</a>
		</header>

		<main id="main" class="flex flex-1 px-4">
			<section id="sectionForm" class="flex w-7/12 flex-col items-center justify-evenly pb-2 shadow-xl max-sm:w-full max-sm:pt-0">
				{{ form_start(registrationForm,{'attr':{'id':'registration_form','class':'h-full w-5/6 md:w-4/6 lg:w-3/6'}}) }}
				<div id="step1" class="flex h-full w-full flex-col justify-evenly">
					<h2 class="py-1 text-center text-4xl text-slate-800 max-md:text-4xl">
						Etape 1/2
					</h2>
					<div class="w-full">
						{{ form_label(registrationForm.name,'Prénom',{'label_attr':{'class':'mb-1 block text-base font-medium'}}) }}
						{{ form_widget(registrationForm.name,{'attr':{'class':'h-8 w-full rounded-md border-2 p-1 text-base drop-shadow-lg border-white focus:border-blue-500 focus:outline-none'}}) }}
						<div id="userName" class="text-red-500">{{ form_errors(registrationForm.name,{'attr' :{'id':'','class' :'text-red'}}) }}</div>
						{# Prenom #}
					</div>
					<div class="w-full">
						{{ form_label(registrationForm.lastName,'Nom de famille',{'label_attr':{'class':'mb-1 block text-base font-medium'}}) }}
						{{ form_widget(registrationForm.lastName,{'attr':{'class':'h-8 w-full rounded-md border-2 p-1 text-base drop-shadow-lg border-white focus:border-blue-500 focus:outline-none invalid:[&:not(:placeholder-shown):not(:focus)]:border-red-500'}}) }}
						<div id="userLastName" class="text-red-500 border-red-500">{{ form_errors(registrationForm.lastName,{'attr' :{'id':'','class' :'text-red'}}) }}</div>
						{# Nom #}
					</div>
					<div class="w-full">
						{{ form_label(registrationForm.email,'E-mail',{'label_attr':{'class':'mb-1 block text-base font-medium'}}) }}
						{{ form_widget(registrationForm.email,{'attr':{'class':'h-8 w-full rounded-md border-2 p-1 text-base drop-shadow-lg border-white focus:border-blue-500 focus:outline-none invalid:[&:not(:placeholder-shown):not(:focus)]:border-red-500'}}) }}
						<div id="userEmail" class="text-red-500">{{ form_errors(registrationForm.email,{'attr' :{'id':'','class' :'text-red'}}) }}</div>
						{# Email #}
					</div>
					<div class="w-full">
						{{ form_label(registrationForm.plainPassword.first,'Mot de passe',{'label_attr':{'class':'mb-1 block text-base font-medium'}}) }}
						{{ form_widget(registrationForm.plainPassword.first,{'attr':{'class':'h-8 w-full rounded-md border-2 p-1 text-base drop-shadow-lg border-white focus:border-blue-500 focus:outline-none invalid:[&:not(:placeholder-shown):not(:focus)]:border-red-500'}}) }}
						<div id="userPassword" class="text-red-500">{{ form_errors(registrationForm.plainPassword.first,{'attr' :{'id':'','class' :'text-red'}}) }}</div>
						{# Mot de passe #}
					</div>
					<div class="w-full">
						{{ form_label(registrationForm.plainPassword.second,'Confirmer le mot de passe',{'label_attr':{'class':'mb-1 block text-base font-medium'}}) }}
						{{ form_widget(registrationForm.plainPassword.second,{'attr':{'class':'h-8 w-full rounded-md border-2 p-1 text-base drop-shadow-lg border-white focus:border-blue-500 focus:outline-none invalid:[&:not(:placeholder-shown):not(:focus)]:border-red-500'}}) }}
						<div id="userPasswordConfirm" class="text-red-500">{{ form_errors(registrationForm.plainPassword.second,{'attr' :{'id':'','class' :'text-red'}}) }}</div>
						{# Confirmer le mot de passe #}
					</div>
					<div class="flex w-full flex-col items-center justify-around">
						<button class="focus:shadow-outline mt-4 h-11 w-4/6 rounded-md bg-blue-500 px-4 py-2 font-bold text-white hover:bg-blue-600 focus:outline-none" type="button" id="nextStep">
							Etape suivante
						</button>
						<a href="{{ path('app_login') }}" class="mt-3 inline-block align-baseline font-bold text-blue-600 hover:text-blue-800 sm:hidden">
							Vous avez déja un compte ?
						</a>
					</div>
				</div>

				<div id="step2" class="flex hidden h-full w-full flex-col justify-evenly">
					<h2 class="py-1 text-center text-4xl text-slate-800 max-md:text-4xl">
						Etape 2/2
					</h2>
					<div class="w-full">
						{{ form_label(registrationForm.societyForm.name,'Nom de la société',{'label_attr':{'class':'mb-1 block text-base font-medium'}}) }}
						{{ form_widget(registrationForm.societyForm.name,{'attr':{'class':'h-8 w-full rounded-md border-2 p-1 text-base drop-shadow-lg border-white focus:border-blue-500 focus:outline-none invalid:[&:not(:placeholder-shown):not(:focus)]:border-red-500'}}) }}
						<div class="text-red-500">{{ form_errors(registrationForm.societyForm.name,{'attr' :{'class' :'text-red'}}) }}</div>
						{# Nom de la société #}
					</div>
					<div class="w-full">
						{{ form_label(registrationForm.societyForm.address,'Adresse de la société',{'label_attr':{'class':'mb-1 block text-base font-medium'}}) }}
						{{ form_widget(registrationForm.societyForm.address,{'attr':{'class':'h-8 w-full rounded-md border-2 p-1 text-base drop-shadow-lg border-white focus:border-blue-500 focus:outline-none invalid:[&:not(:placeholder-shown):not(:focus)]:border-red-500'}}) }}
						<div class="text-red-500">{{ form_errors(registrationForm.societyForm.address,{'attr' :{'class' :'text-red'}}) }}</div>
						{# Adresse de la société #}
					</div>
					<div class="w-full">
						{{ form_label(registrationForm.societyForm.phone,'Téléphone de la société',{'label_attr':{'class':'mb-1 block text-base font-medium'}}) }}
						{{ form_widget(registrationForm.societyForm.phone,{'attr':{'class':'h-8 w-full rounded-md border-2 p-1 text-base drop-shadow-lg border-white focus:border-blue-500 focus:outline-none invalid:[&:not(:placeholder-shown):not(:focus)]:border-red-500'}}) }}
						<div class="text-red-500">{{ form_errors(registrationForm.societyForm.phone,{'attr' :{'class' :'text-red-600','type':'tel'}}) }}</div>
						{# Téléphone de société #}
					</div>
					<div class="w-full">
						{{ form_label(registrationForm.societyForm.email,'E-mail de la société',{'label_attr':{'class':'mb-1 block text-base font-medium'}}) }}
						{{ form_widget(registrationForm.societyForm.email,{'attr':{'class':'h-8 w-full rounded-md border-2 p-1 text-base drop-shadow-lg border-white focus:border-blue-500 focus:outline-none invalid:[&:not(:placeholder-shown):not(:focus)]:border-red-500'}}) }}
						<div class="text-red-500">{{ form_errors(registrationForm.societyForm.email,{'attr' :{'class' :'text-red-600'}}) }}</div>
						{# Email de la société #}
					</div>
					<div class="w-full">
						{{ form_label(registrationForm.societyForm.siret,'Siret de la société',{'label_attr':{'class':'mb-1 block text-base font-medium'}}) }}
						{{ form_widget(registrationForm.societyForm.siret,{'attr':{'class':'h-8 w-full rounded-md border-2 p-1 text-base drop-shadow-lg border-white focus:border-blue-500 focus:outline-none invalid:[&:not(:placeholder-shown):not(:focus)]:border-red-500'}}) }}
						<div class="text-red-500">{{ form_errors(registrationForm.societyForm.siret,{'attr' :{'class' :'text-red'}}) }}</div>
						{# Siret de la société #}
						<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
					</div>
					<div class="w-full">
						{{ form_label(registrationForm.societyForm.logo,'Siret de la société',{'label_attr':{'class':'mb-1 block text-base font-medium'}}) }}
						{{ form_widget(registrationForm.societyForm.logo,{'attr':{'class':'h-8 w-full rounded-md border-2 p-1 text-base drop-shadow-lg border-white focus:border-blue-500 focus:outline-none invalid:[&:not(:placeholder-shown):not(:focus)]:border-red-500'}}) }}
						<div class="text-red-500">{{ form_errors(registrationForm.societyForm.logo,{'attr' :{'class' :'text-red'}}) }}</div>
					</div>
					
					<div class="flex w-full items-center justify-between">
						<button class="focus:shadow-outline h-11 w-[60%] rounded-md bg-blue-500 px-4 py-2 font-bold text-white hover:bg-blue-600 focus:outline-none" type="button" onclick="nextPage()">
							Etape précédante
						</button>
						<button type="submit" class="focus:shadow-outline h-11 w-[39%] rounded-md bg-blue-500 px-4 py-2 font-bold text-white hover:bg-blue-600 focus:outline-none">
							Valider
						</button>
					</div>
				</div>
				{{ form_end(registrationForm) }}
			</section>

			<section id="sectionCube" class="z-10 flex w-5/12 items-center justify-center rounded-2xl bg-gradient-to-r from-slate-900 to-blue-900 py-2 max-sm:hidden">
				<div class="flex w-3/6 flex-col justify-center">
					<h2 class="text-4xl text-white">Vous avez déjà un compte ?</h2>
					<h3 class="mt-4 text-xl text-white">
						Ne perdez plus de temps et connectez vous à votre espace sécurisé.
					</h3>
					<a href="{{ path('app_login') }}" type="button" class="focus:shadow-outline mt-4 cursor-pointer rounded-md bg-blue-600 px-4 py-2 text-center text-lg font-bold text-white hover:bg-blue-700 focus:outline-none">
						Se connecter
					</a>
				</div>
			</section>
		</main>

		<footer class="h-8 bg-gradient-to-t from-slate-400"></footer>
		<script src="login.js"></script>
	</div>
{% endblock %}
{% block javascripts %}
	{{ parent() }}
	<script src="{{ asset('js/register.js') }}"></script>


{% endblock %}
