{% extends 'base.html.twig' %}

{% block title %}Nouveau Devis{% endblock %}

{% block body %}
    <h1>Créer un nouveau Devis</h1>

    {{ form_start(form) }}
    {{ form_row(form.taxe) }}
    {{ form_row(form.totalPrice) }}
    {{ form_row(form.totalDuePrice) }}
    {{ form_row(form.customer) }}

    <h3>Produits</h3>
    <div id="devisProducts" data-prototype="{{ form_widget(form.devisProducts.vars.prototype)|e('html_attr') }}" data-index="{{ form.devisProducts|length }}">
        {% for devisProduct in form.devisProducts %}
            <div class="devisProductItem">
                {{ form_row(devisProduct) }}

            </div>
        {% endfor %}
    </div>
    <button type="button" id="add_product_button">Ajouter un produit</button>
</br>
    <h3>Formules</h3>
    <div id="devisFormulas" data-prototype="{{ form_widget(form.devisFormulas.vars.prototype)|e('html_attr') }}" data-index="{{ form.devisFormulas|length }}">
        {% for devisFormula in form.devisFormulas %}
            <div class="devisFormulaItem">
                {{ form_row(devisFormula) }}
            </div>
        {% endfor %}
    </div>
    <button type="button" id="add_formula_button">Ajouter une formule</button>
</br>
    <button class="btn">{{ button_label|default('Save') }}</button>
    {{ form_end(form) }}

    <a href="{{ path('app_devis_index') }}">Retour à la liste</a>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/devis.js') }}"></script>
{% endblock %}
