{% extends 'base.html.twig' %}

{% block title %}Nouveau Devis{% endblock %}

{% block body  %}
     <h1>Créer un nouveau Devis</h1>

    {{ form_start(form) }}
    {{ form_row(form.taxe) }}
    {{ form_row(form.totalPrice) }}
    {{ form_row(form.totalDuePrice) }}
    {{ form_row(form.customer) }}

    <h3>Produits</h3>
    <div id="devisProducts" data-prototype="{{ form_widget(form.devisProducts.vars.prototype)|e('html_attr') }}" data-index="{{ form.devisProducts|length }}">
        {% for devisProduct in form.devisProducts %}
            <div class="devisProductItem">
                {{ form_row(devisProduct) }}

            </div>
        {% endfor %}
    </div>
    <button type="button" id="add_product_button">Ajouter un produit</button>
</br>
    <h3>Formules</h3>
    <div id="devisFormulas" data-prototype="{{ form_widget(form.devisFormulas.vars.prototype)|e('html_attr') }}" data-index="{{ form.devisFormulas|length }}">
        {% for devisFormula in form.devisFormulas %}
            <div class="devisFormulaItem">
                {{ form_row(devisFormula) }}
            </div>
        {% endfor %}
    </div>
    <button type="button" id="add_formula_button">Ajouter une formule</button>
</br>
    <button class="btn">{{ button_label|default('Save') }}</button>
    {{ form_end(form) }}

    <a href="{{ path('app_devis_index') }}">Retour à la liste</a> }


      <nav class="flex justify-between w-full items-center py-3 px-5 h-14 bg-[#353535] ">
      <span class="material-symbols-outlined  transition-all duration-300 text-white cursor-pointer hover:text-red-500"> arrow_circle_left</span>
      <button class="bg-white py-2 px-4 cursor-pointer rounded-md transition-all duration-300 text-base font-bold hover:bg-lime-500">Valider le Devis</button>
    </nav>
    <div
      class="Generator font-roboto w-A4w h-A4h bg-white my-5 mx-auto p-5 border border-solid border-gray-300 shadow-md"
    >
      <div class="top h-auto w-full flex justify-between items-start">
        <div class="society w-1/2 flex justify-center items-start flex-col">
          <div class="logoName">
            <img
              class="w-36 h-36 border border-solid border-gray-300"
              src="./0d4ae847-6828-4179-892b-35ca46596170.webp"
              alt="logo"
            />
          </div>
          <div class="society-info mt-15px p-5px">
            <h2 class="text-lg mb-3 font-semibold">Ma society Name</h2>
            <p class="text-15px">Adresse</p>
            <p class="text-15px">Code Postal</p>
            <p class="text-15px">Ville</p>
            <p class="text-15px">Téléphone</p>
            <p class="text-15px">Mail</p>
          </div>
        </div>
        <div class="top-r w-1/2">
          <div
            class="devis w-full bg-the-grey-2 p-15px border border-solid border-gray-300 rounded-10px shadow-md flex justify-between items-start flex-col"
          >
            <h1 class="text-2xl font-semibold">Devis</h1>
            <div class="devis-info">
              <p class="text-15px leading-none my-1">Numéro de devis:</p>
              <p class="text-15px leading-none my-1">Date:</p>
              <p class="text-15px leading-none my-1">
                Validité du devis: 3 Mois
              </p>
            </div>
          </div>
          <div class="client mt-3 px-5px">
            <h2 class="text-lg font-semibold">Information Client</h2>
            <div class="client-info mt-2">
              <p class="text-15px">Adresse</p>
              <p class="text-15px">Code Postal</p>
              <p class="text-15px">Ville</p>
              <p class="text-15px">Téléphone</p>
              <p class="text-15px">Mail</p>
            </div>
          </div>
        </div>
      </div>
      <div
        class="table-container w-full mt-7 flex justify-start items-center flex-col"
      >
        <div
          class="objet w-full flex justify-start items-center self-center mb-5 ml-5px"
        >
          <h2 class="text-lg font-semibold">Objet:</h2>
          <p id="commande-title" class="ml-1 text-lg">
            Prise en charge des repas d'un marriage
          </p>
        </div>
        <div id="wrapper" class="h-56" ></div>
        <div class="mid w-full h-auto flex justify-between items-start">
          <div
            class="condition mt-12 flex justify-start items-start flex-col w-70%"
          >
            <h2 class="text-lg font-semibold">Conditions de paiement:</h2>
            <p class="mt-5 text-lg">
              Paiement d'un acompte de 30% du prix total TTC à la commande 70% à
              la livraison
            </p>
          </div>
          <div
            class="total w-35% flex justify-start items-end mt-12 mr-5px flex-col"
          >
            <div
              class="total-sub-container flex justify-start items-center m-0"
            >
              <h3 class="text-base font-semibold">Total HT:</h3>
              <div class="total-tab ml-5px p-4 w-40 bg-the-grey-2">
                <p class="text-lg text-right">5000 €</p>
              </div>
            </div>
            <div
              class="total-sub-container flex justify-start items-center m-0"
            >
              <h3 class="text-base font-semibold">TVA (20%):</h3>
              <div class="total-tab ml-5px p-4 w-40 bg-the-grey-2">
                <p class="text-lg text-right">1000 €</p>
              </div>
            </div>
            <div
              class="total-sub-container flex justify-start items-center m-0"
            >
              <h3 class="text-base font-semibold">Total TTC:</h3>
              <div class="total-tab alt ml-5px p-4 w-40 bg-light-dark">
                <p class="text-lg text-right text-white">6000 €</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        class="signature mt-12 mr-5px ml-auto pt-3 pl-3 w-52 h-28 border border-solid border-gray-300 bg-the-grey-2"
      >
        <p>Signature:</p>
      </div>
      <div class="bottom w-full flex justify-start items-start flex-col">
        <div class="divider w-full h-2px rounded-2xl bg-the-grey-2 my-5"></div>
        <div class="bottom-info w-full flex justify-center items-center">
          <p class="text-sm my-2 text-the-grey">SARL Fourchette</p>
          <p class="text-sm my-2 text-the-grey">Capital de 1000 €</p>
          <p class="text-sm my-2 text-the-grey">RCS:12345</p>
          <p class="text-sm my-2 text-the-grey">Code APE: AZERTY12345</p>
          <p class="text-sm my-2 text-the-grey">N° TVA: FR3353215643668909</p>
        </div>
      </div>
    </div>
    <script src="index.js" type="module"></script>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
  <script src="{{ asset('js/devis.js') }}" type="module"></script>

{% endblock %}
