{% extends 'base_caterer.html.twig' %}

{% block title %}Edit Customer
{% endblock %}

{% block body %}
	{% set modal_id = 'customerEditModal' %}
	{% set modal_content_id = 'customerEditModalContent' %}
	<!-- Close Button -->
	<button class="absolute top-3 right-3 text-white font-medium bg-red-500 hover:bg-red-700 transition-all duration-300 ease-out rounded-lg px-2 py-1" onclick="toggleModal('customerEditModal', 'customerEditModalContent')">
		Fermer
	</button>
	<!-- Contenu de notre modal ici  -->
	<h2 class="text-3xl mb-5">Modifier un Client</h2>

	<div class="form-group flex items-center">
		<label for="switchClientType" class="mr-2 font-medium">Type de Client :</label>
		<input type="hidden" id="ClientTypeHidden" value="{{ customer.nameSociety}}">
		<div
			class="inline-flex items-center cursor-pointer" onclick="toggleSwitch()" id="switchToClick">
			<!-- Switch -->
			<span class="relative">
				<span id="switchBackground" class="block w-10 h-6 bg-gray-200 rounded-full shadow-inner"></span>
				<span id="switchDot" class="absolute block w-4 h-4 mt-1 ml-1 rounded-full shadow inset-y-0 left-0 transition-transform duration-300 ease-in-out bg-white transform">
					<input type="checkbox" id="switchClientType" class="absolute opacity-0 w-0 h-0"/>
				</span>
			</span>
			<!-- Label -->
			<label for="switchClientType" class="ml-3 text-sm font-medium text-gray-900">Société</label>
		</div>
	</div>
	{{ include('customer/_form.html.twig',
     {'button_label': 'Mettre à jour'}) }}
	{{ include('customer/_delete_form.html.twig') }}
{% endblock %}
{% block javascripts %}
	{{ parent() }}
	<script src="{{ asset('js/customer.js') }}"></script>
{% endblock %}
