{% extends 'base.html.twig' %}

{% block title %}Customer index{% endblock %}

{% block body %}
    <h1>Customer index</h1>
    <h2 class='underline font-bold text-lime-500'>Actions</h2>
    {% for message in app.flashes('error') %}
        <div class="alert alert-danger">
            {{ message }}
        </div>
    {% endfor %}

    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}

    <!-- Conteneur pour le tableau Grid.js -->
    <div id="product-table"></div>

    <button onclick="openCustomerCreateModal()" class="btn btn-success">Créer un Nouveau Client</button>


    <!-- Modal pour la création d'un nouveau client -->
    <div class="modal fade" id="customerCreateModal" tabindex="-1" role="dialog" aria-labelledby="customerCreateModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="customerCreateModalLabel">Créer un Nouveau Client</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- Le formulaire de création sera chargé ici -->
                </div>
            </div>
        </div>
    </div>


    <!-- Modal pour la modification d'un client -->
    <div class="modal fade" id="customerEditModal" tabindex="-1" role="dialog" aria-labelledby="customerEditModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="customerEditModalLabel">Modifier le Client</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- Le formulaire de modification sera chargé ici -->
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Bootstrap pour les détails du client -->
    <div class="modal fade" id="customerDetailsModal" tabindex="-1" role="dialog" aria-labelledby="customerDetailsModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="customerDetailsModalLabel">Détails du Client</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- Les détails du client seront chargés ici -->
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        var csrfToken = '{{ csrf_token('delete_customer') }}';
    </script>
    <script src="{{ asset('js/customer.js') }}"></script>
    <script src="{{ asset('js/customerGrid.js') }}"></script>
{% endblock %}
