{% extends 'base.html.twig' %}

{% block title %}Customer index
{% endblock %}

{% block body %}

	<div class="mt-8 mx-auto min-h-90vh w-95% h-auto rounded-2xl bg-white p-3">
		<h1 class='text-4xl font-bold mb-3'>Liste des Clients</h1>
		<button onclick="openCustomerCreateModal()" class="text-white font-medium bg-button-blue hover:bg-button-blue-hover transition-all duration-300 ease-out rounded-lg my-3 px-3 py-2">Créer un Nouveau Client</button>
		<!-- Conteneur pour le tableau Grid.js -->
		<div id="customer-table"></div>
	</div>

	{% for message in app.flashes('error') %}
		<div class="alert alert-danger">
			{{ message }}
		</div>
	{% endfor %}

	{% for message in app.flashes('success') %}
		<div class="alert alert-success">
			{{ message }}
		</div>
	{% endfor %}


	<!-- Modal pour la création d'un nouveau client -->
	{% set dynamicContent %}
	<div>
		<p>Contenu construit directement dans Twig.</p>
	</div>
	{% endset %}

	{% include 'components/modal.html.twig' with {
        'modal_id': 'newModalId',
        'modal_content_id': 'newModalModalContentId',
        'content': dynamicContent
    } %}

	<!-- Modal pour la modification d'un client -->
	{% include 'components/modal.html.twig' with {
        'modal_id': 'customerEditModal',
        'modal_content_id': 'customerEditModalContent',
        'content': dynamicContent
    } %}

	<!-- Modal Bootstrap pour les détails du client -->
	{% include 'components/modal.html.twig' with {
        'modal_id': 'customerDetailsModal',
        'modal_content_id': 'customerDetailsModalContainer',
        'content': dynamicContent
    } %}
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script>
		var csrfToken = '{{ csrf_token('delete_customer') }}';
	</script>
	<script src="{{ asset('js/customerGrid.js') }}"></script>
	<script src="{{ asset('js/customer.js') }}"></script>

{% endblock %}
