{% extends 'base.html.twig' %}

{% block title %}Customer index{% endblock %}

{% block body %}
    <h1>Customer index</h1>
    <h2 class='underline font-bold text-lime-500'>Actions</h2>
    {% for message in app.flashes('error') %}
        <div class="alert alert-danger">
            {{ message }}
        </div>
    {% endfor %}

    <!-- Conteneur pour le tableau Grid.js -->
    <div id="product-table"></div>

    <a href="{{ path('app_customer_new') }}">Create new</a>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        var csrfToken = '{{ csrf_token('delete_customer') }}';
    </script>
    <script src="{{ asset('js/customerGrid.js') }}"></script>
{% endblock %}
