{% extends 'base_caterer.html.twig' %}

{% block title %}Hello AccountantController!
{% endblock %}

{% block content %}
	<h1 class="px-5 text-5xl mt-2 mb-10">Rapports financiers</h1>

	<!-- first block -->
	<div
		class="px-5 mb-10 lg:w-ds-block mx-auto lg:h-72 flex lg:justify-between lg:items-center lg:flex-row flex-col justify-start items-start gap-10 lg:gap-0">
		<!-- sold block -->
		<div class="relative px-10 w-[535px] h-72 flex flex-col justify-center items-center bg-white rounded-3xl shadow-xl">
			<p class="text-grey-p text-base">Rapports devis :</p>
			<div class="flex gap-1">
				<button onclick="generateDevisXLSX();" class="text-white w-48 font-medium bg-green-600 hover:bg-green-500 transition-all duration-300 ease-out rounded-lg my-3 px-3 py-2">
					Excel des devis
				</button>
				<button onclick="generateDevisPDF();" class="text-white w-48 font-medium bg-red-600 hover:bg-red-500 transition-all duration-300 ease-out rounded-lg my-3 px-3 py-2">
					Pdf des devis
				</button>
			</div>
			<p class="text-grey-p text-base">Rapports produits commandés :</p>
			<div class="flex gap-1">
				<button onclick="generateDevisProductXLSX();" class="text-white w-48 font-medium bg-green-600 hover:bg-green-500 transition-all duration-300 ease-out rounded-lg my-3 px-3 py-2">
					Excel des produits
				</button>
				<button onclick="generateDevisProductPDF();" class="text-white w-48 font-medium bg-red-600 hover:bg-red-500 transition-all duration-300 ease-out rounded-lg my-3 px-3 py-2">
					Pdf des produits
				</button>
			</div>
			<p class="text-grey-p text-base">Rapports formules commandées :</p>
			<div class="flex gap-1">
				<button onclick="generateDevisFormulaXLSX();" class="text-white w-48 font-medium bg-green-600 hover:bg-green-500 transition-all duration-300 ease-out rounded-lg my-3 px-3 py-2">
					Excel des formules
				</button>
				<button onclick="generateDevisFormulaPDF();" class="text-white w-48 font-medium bg-red-600 hover:bg-red-500 transition-all duration-300 ease-out rounded-lg my-3 px-3 py-2">
					Pdf des formules
				</button>
			</div>
		</div>
		<!-- Chart Block -->
		<div class="lg:ml-10 relative px-10 w-[535px] h-72 flex flex-col justify-center items-center bg-white rounded-3xl shadow-xl">
			<p class="text-grey-p text-base">Montant factures payées par mois (en €) :</p>
			<canvas id="chartCA">
				<p>Chart CA</p>
			</canvas>
		</div>
	</div>
	<!-- End first block -->

	<!-- second block -->
	<div
		class="px-5 mb-10 lg:w-ds-block mx-auto lg:h-72 flex lg:justify-between lg:items-center lg:flex-row flex-col justify-start items-start gap-10 lg:gap-0">
		<!-- sold block -->
		<div class="relative flex flex-col px-5 pb-10 w-[535px] h-72 items-center bg-white rounded-3xl shadow-xl">
			<p class="text-grey-p text-base">Total commandes par produits :</p>
			<canvas id="chartProducts">
				<p>Chart Products</p>
			</canvas>
		</div>
		<!-- Chart Block -->
		<div class="relative flex flex-col px-5 pb-10 w-[535px] h-72 items-center bg-white rounded-3xl shadow-xl">
			<p class="text-grey-p text-base">Total commandes par clients :</p>
			<canvas id="chartCustomers">
				<p>Chart Clients</p>
			</canvas>
		</div>
	</div>
	<!-- End second block -->

	<!-- Third block Ranked -->
	<div
		class="px-5 lg:w-ds-block mx-auto lg:h-fit flex lg:justify-between lg:items-center mb-10 lg:flex-row flex-col justify-start items-start gap-10 lg:gap-0">
		<!-- card-info Most Product-->
		<div class="px-7 py-3 bg-white w-60 rounded-xl shadow-xl flex flex-col justify-start items-start gap-2">
			<p class="text-grey-p text-base">Produit le plus vendu</p>
			<h2 class="text-3xl font-bold">{{nameMostSellProduct.name is defined ? nameMostSellProduct.name : 'Aucun'}}</h2>
			<p class="text-grey-p text-base">Quantité:
				<span class=" font-semibold">
					{{nameMostSellProduct.totalQuantity is defined ? nameMostSellProduct.totalQuantity : 'Aucun'}}</span>
			</p>
			<p class="text-grey-p text-base">Gains:
				<span class="text-[#4FD18B] font-semibold">
					{{nameMostSellProduct.totalSpending is defined ? nameMostSellProduct.totalSpending ~ ' €' : 'Aucun'}}
				</span>
			</p>
		</div>
		<!-- card-info Less Product -->
		<div class="px-7 py-3 bg-white w-60 rounded-xl shadow-xl flex flex-col justify-start items-start gap-2">
			<p class="text-grey-p text-base">Produit le moins vendu</p>
			<h2 class="text-3xl font-bold">{{nameLessSellProduct.name is defined ? nameLessSellProduct.name : 'Aucun'}}</h2>
			<p class="text-grey-p text-base">Quantité:
				<span class=" font-semibold">
					{{nameLessSellProduct.totalQuantity is defined ? nameLessSellProduct.totalQuantity : 'Aucun' }}</span>
			</p>
			<p class="text-grey-p text-base">Gains:
				<span class="text-[#4FD18B] font-semibold">
					{{nameLessSellProduct.totalSpending is defined ? nameLessSellProduct.totalSpending ~ ' €' : 'Aucun'}}
				</span>
			</p>
		</div>
		<!-- card-info Highest Customer -->
		<div class="px-7 py-3 bg-white w-60 rounded-xl shadow-xl flex flex-col justify-start items-start gap-2">
			<p class="text-grey-p text-base">Client le plus fidèle</p>
			<h2 class="text-3xl font-bold">{{customerWithHighestSpending.name is defined ? customerWithHighestSpending.name : 'Aucun'}}</h2>
			<p class="text-grey-p text-base">Commandes:
				<span class=" font-semibold">
					{{customerWithHighestSpending.totalOrders is defined ? customerWithHighestSpending.totalOrders : 'Aucun'}}</span>
			</p>
			<p class="text-grey-p text-base">Dépensé:
				<span class="text-[#4FD18B] font-semibold">
					{{customerWithHighestSpending.totalSpending is defined ? customerWithHighestSpending.totalSpending ~ ' €' : 'Aucun'}}
				</span>
			</p>
		</div>
		<!-- card-info Lowest Customer-->
		<div class="px-7 py-3 bg-white w-60 rounded-xl shadow-xl flex flex-col justify-start items-start gap-2">
			<p class="text-grey-p text-base">Client le moins fidèle</p>
			<h2 class="text-3xl font-bold">{{customerWithLowestSpending.name is defined ? customerWithLowestSpending.name : 'Aucun'}}</h2>
			<p class="text-grey-p text-base">Commandes:
				<span class=" font-semibold">
					{{customerWithLowestSpending.totalOrders is defined ? customerWithLowestSpending.totalOrders : 'Aucun'}}</span>
			</p>
			<p class="text-grey-p text-base">Dépensé:
				<span class="text-[#4FD18B] font-semibold">
					{{customerWithLowestSpending.totalSpending is defined ? customerWithLowestSpending.totalSpending ~ ' €' : 'Aucun'}}
				</span>
			</p>
		</div>
	</div>
	<!-- End Third block -->

	{% block javascripts %}
		{{ parent() }}
		<script>
			let labelChartCA = [{% for month, totalPrice in totalPriceByMonth %}'{{ month }}',{% endfor %}];
let dataChartCA = [{% for totalPrice in totalPriceByMonth %}{{ totalPrice }},{% endfor %}];
let labelChartProducts = [{% for product in products %}'{{ product.name }}',{% endfor %}];
let dataChartProducts = [{% for product in products %}{{ product.totalquantity ?: 0 }},{% endfor %}];
let labelChartCustomers = [{% for customer in customers %}'{{ customer.name }}',{% endfor %}];
let dataChartCustomers = [{% for customer in customers %}{{ customer.totalOrders ?: 0 }},{% endfor %}];
		</script>
		<script src="{{ asset('js/accountant.js') }}"></script>
		<script src="{{ asset('js/excel.js') }}"></script>
	{% endblock %}
{% endblock %}
