{{ form_start(form, {'action': form_action}) }}
    {{ form_label(form.name) }}
    {{ form_widget(form.name) }}
<br>

<!-- Zone pour sélectionner un produit -->
<div>
    {{ form_label(form.selectedProduct) }}
    {{ form_widget(form.selectedProduct) }}
    <input type="number" id="productQuantity" placeholder="Quantité">
    <button id="addProductButton" type="button" class="btn btn-primary">Ajouter à la formule</button>
</div>
<br>

<!-- Conteneur pour le tableau Grid.js -->
<div id="productGrid" class="gridjs-container"></div>
<br>


<div id="productDataContainer">

        {{ form_widget(form.productFormulasData) }}


</div>
<br>

{{ form_label(form.price) }}
{{ form_widget(form.price) }}
<br>
<button type="submit" class="btn">Sauvegarder</button>
{{ form_end(form) }}
