{% extends 'base_caterer.html.twig' %}

{% block title %}Formula index
{% endblock %}

{% block content %}

	<div class="mt-8 mx-auto min-h-90vh w-95% h-auto rounded-2xl bg-white dark:bg-dark-section p-3">
		<h1 class='text-4xl font-bold mb-3 dark:text-white'>Liste des Formules</h1>
		<button onclick="openFormulaCreateModal()" class="text-white font-medium bg-button-blue hover:bg-button-blue-hover transition-all duration-300 ease-out rounded-lg my-3 px-3 py-2">Créer un nouvelle formule</button>
		<!-- Conteneur pour le tableau Grid.js -->
		<div id="formula-table"></div>
	</div>

	<!-- Modal pour la création d'une nouvelles formule -->
	{% set dynamicContent %}
	<div>
		<p>Contenu construit directement dans Twig.</p>
	</div>
	{% endset %}

	{% include 'components/modal.html.twig' with {
        'modal_id': 'newModalId',
        'modal_content_id': 'newModalModalContentId',
        'content': dynamicContent
    } %}

	<!-- Modal pour la modification d'une formule -->
	{% include 'components/modal.html.twig' with {
        'modal_id': 'formulaEditModal',
        'modal_content_id': 'formulaEditModalContentId',
        'content': dynamicContent
    } %}

	<!-- Modal pour les détails d'une formule -->
	{% include 'components/modal.html.twig' with {
        'modal_id': 'formulaDetailsModal',
        'modal_content_id': 'formulaDetailsModalContentId',
        'content': dynamicContent
    } %}


{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<style>
		#formulaDetailsModal #productsTable,
		#formulaCreateModal #productGrid {
			max-height: 400px;
			overflow-y: auto;
		}
	</style>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script>
		var csrfToken = '{{ csrf_token('delete_formula') }}';
	</script>
	<script src="{{ asset('js/addFlash.js') }}"></script>
	<script src="{{ asset('js/formula.js') }}"></script>
	<script src="{{ asset('js/formulaGrid.js') }}"></script>
{% endblock %}
