{% extends 'admin/base.back.html.twig' %}

{% block title %}
  Dashboard Administrateur
{% endblock %}

{% block body %}
  <h1 class="text-5xl mt-2 mb-10 dark:text-white">Tableau de bord</h1>
  {# First block #}
  <section id="InfoCards" class="w-full mx-auto flex md:flex-row my-2 flex-col justify-start items-center gap-3">
    {# card-admin #}
    {% include 'components/admin_card.twig' with { id: 'cardNumberLength', bgColor: 'bg-blue-200', color: 'text-blue-500', icon: 'account_circle', count: users|length, description: "Nombre d'Utilisateurs" } %}

    {# card-admin #}
    {% include 'components/admin_card.twig' with { id: 'cardSocietiesLength', bgColor: 'bg-yellow-200', color: 'text-yellow-500', icon: 'apartment', count: societies|length, description: 'Nombre de sociétés' } %}

    {# card-admin #}
    {% include 'components/admin_card.twig' with { id: '', bgColor: 'bg-green-200', color: 'text-green-500', icon: 'description', count: devis|length, description: 'Nombre de devis' } %}
  </section>
  {# Second block #}
  <section id="InfosEntreprise" class="mb-5 w-full mx-auto flex items-start flex-col justify-start rounded-xl overflow-x-auto">
    <h2 class="mb-3 text-3xl mt-4 dark:text-white">Les Sociétés</h2>
    <div id="tabSocietyGridJs" class="h-full w-full"></div>
  </section>
  {# Third block #}
  <section id="InfosUser" class="w-full mx-auto flex items-start flex-col justify-start overflow-x-auto">
    <h2 class="mb-3 text-3xl mt-1 dark:text-white">Les Utilisateurs</h2>
    <div id="tabUserGridJs" class="h-full w-full"></div>
  </section>
  {# dark mode #}
  <div id="toggleDarkMode" class="group fixed top-5 right-5 rounded-full p-1 border border-solid border-yellow-500 flex justify-center items-center cursor-pointer hover:bg-yellow-500 hover:border-yellow-500 transition-all duration-300 ease-out">
    <span class="material-symbols-outlined text-yellow-500 group-hover:text-white transition-all duration-300 ease-out">light_mode</span>
  </div>

  <div id="toggleLightMode" class="group fixed top-5 right-5 rounded-full p-1 border border-solid border-black flex justify-center items-center cursor-pointer hover:bg-cyan-500 hover:border-cyan-500 transition-all duration-300 ease-out hidden">
    <span class="material-symbols-outlined text-black group-hover:text-black transition-all duration-300 ease-out">dark_mode</span>
  </div>
  {% include 'admin/component/modal.html.twig' %}
{% endblock %}

{% block script_js %}
  {{ parent() }}
  <script src="{{ asset('js/addFlash.js') }}"></script>
  <script src="{{ asset('js/admin/societyGrid.js') }}"></script>
  <script src="{{ asset('js/admin/userGrid.js') }}"></script>
  <script src="{{ asset('js/admin/user.js') }}"></script>
  <script src="{{ asset('js/admin/society.js') }}"></script>
{% endblock %}
