{{ form_start(form, { 'attr': {'class': 'w-full'}}) }}
{{ form_widget(form) }}
<div class="flex justify-center mt-5">
	<button class="text-white font-medium bg-green-500 hover:bg-green-700 transition-all duration-300 ease-out rounded-lg px-3 py-2">{{ button_label|default('Sauvegarder votre produit') }}</button>
</div>
{{ form_end(form) }}

 {# <button class="btn">{{ button_label|default('Sauvegarder votre produit') }}</button> #}
