<div class="px-3 py-3 bg-white w-full sm:w-fit rounded-xl shadow-xl flex justify-start items-center">
	<div class="flex justify-start items-center rounded-full {{ bgColor }} p-3 mr-5">
		<span class="material-symbols-outlined {{ color }}">{{ icon }}</span>
	</div>
	<div class="flex justify-start items-start flex-col w-full">
		<h2 class="text-3xl font-bold" id="{{id}}">{{ count }}</h2>
		<p class="text-grey-p text-base">{{ description }}</p>
	</div>
</div>
<div class='hidden text-blue-500'></div>
